<hr/>
<h2>Recherche de contact par critères</h2>
<div class="groupe">
    <input type="text" [(ngModel)]="firstNameToSearch" id="firstNameToSearch" [value]="firstNameToSearch" placeholder="Prénom"/>
    <input type="text" [(ngModel)]="familyNameToSearch" id="familyNameToSearch" [value]="familyNameToSearch" placeholder="Nom"/>
    <button (click)="rechercherContact()">Rechercher</button>
</div>

@if(errorMessageSearch) {
    {{errorMessageSearch}}
}
@for (contact of contactsSearched; track contact.id) {
    <div>{{contact.id}}, {{contact.firstName}}, {{contact.familyName}}, {{contact.email}}, {{contact.phoneNumber}}</div>
}
